@import url(//fonts.googleapis.com/css?family=Abril+Fatface|Droid+Serif:400,700,400italic,700italic);

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;800;900&display=swap');


body{
    width:100%;
    height:100%;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    background-color: aliceblue;
    
}    

:root{
    --bg-color: #121a4e;
    --text-color: white;
    --main-color:#ff5f00;
}        

/* headers */  

.intro-head  h1{
    font-size: 840%;
margin: -37rem 0rem 0rem 39rem;
color: white;
position: absolute;
}    



.intro-sec{
background-color: #121a4e;
width: 100%;
height:20rem;



}    


.head-img{
width: 100%;
height: 20rem;
opacity: 0.2;


}    

.intro-head h1{
font-size: 693%;
margin: -10rem 0rem 0rem 43rem;
color: white;
position: absolute;


}    


 

.line1{
border-left: 3px solid var(--main-color);
height: 8rem;
margin: 2px 41rem;
margin-top: -10rem;

}    

.line2{
border-left: 3px solid var(--main-color);
margin: -6rem 0rem 11rem 42rem;
height: 5rem;


}    

.line3{
border-left: 3px solid var(--main-color); 

margin-top: 1rem;
background-color: #ff5f00;
width: 139px;
height: 2px;
margin: -142px 0px 57px 574px;


}    

.line4{
border-left: 3px solid var(--main-color);
margin-top: 1rem;
background-color: #ff5f00;
width: 85px;
height: 2px;
margin: -71px 0px 0px 588px;


}    




.line5{
border-left: 3px solid var(--main-color);
height: 9rem;
margin: 2px 69.7rem;
margin-top: -8rem;

}    

.line6{
border-left: 3px solid var(--main-color);
margin: -8rem 4rem 10rem 68.8rem;
height: 6rem;


}    

.line7{
border-left: 3px solid var(--main-color); 
/* margin: 20px 0; */
margin-top: 1rem;
background-color: #ff5f00;
width: 82px;
height: 2px;
margin: -226px 0px 57px 882px;

}    

.line8{
border-left: 3px solid var(--main-color);
margin-top: 1rem;
background-color: #ff5f00;
width: 131px;
height: 2px;
margin: -72px 0px -8px 846px;


}    




/* websites */

.web-sec{
    height:35rem;
    width:auto;
    margin: -5rem 0rem 0rem 0rem;
    
}  
.main-web{
    display:flex;
    flex-wrap: wrap;
    gap:0rem;
    justify-content: space-evenly;
}
.web-sec p{
    font-size: 400%;
    color: var(--bg-color);
    margin: 10rem 0rem -10rem 45rem;

}



.blog-card {
    max-width: 550px;
    width: 35rem;
    height: 20rem;
    position: relative;
    font-family: 'Droid Serif', serif;
    color: #fff;
 margin: 12rem 0rem 0rem 1rem;
    overflow: hidden;
    border-radius: 0px;
    box-shadow: 0px 10px 20px -9px rgba(0, 0, 0, 0.5);
    text-align: center;
    transition: all 0.4s;
    background: url(https://unsplash.it/600/800?image=1061) center no-repeat;
    background-size: 99%;
}
.blog-card a{ 
color:#fff;
  text-decoration:none;
  transition:all 0.2s
}
.blog-card .color-overlay {
  background: rgba(18, 26, 78,0.5);
  width: 550px;
  height: 500px;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  transition: background 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
}
.blog-card .gradient-overlay {  
  background-image: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.6) 21%);
  width: 550px;
  height: 500px;
  position: absolute;
  top: 350px;
  left: 0;
  z-index: 15;
}
.blog-card:hover{
    box-shadow: 0px 18px 20px -9px rgba(0, 10, 30, 0.75);
}
.blog-card:hover .card-info {
  opacity: 1;
  bottom: 100px;
}
.blog-card:hover .color-overlay {
  background: rgba(18, 26, 78,0.8);
}
.blog-card:hover .title-content{
  margin-top:20rem;
}
.title-content {
    text-align: center;
    margin: 146px 0 0 -2px;
    position: absolute;
    z-index: 20;
    width: 100%;
    top: 0;
    left: 0;
    transition: all 0.6s;
}

.blog-card:hover h3:after{
 
  animation: changeLetter 0.3s 1 linear;
  width:80%
}

.blog-card h3,h1 {
  font-size: 1.9em;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: 'Abril Fatface', serif;
  margin-bottom: 0;
  display:inline-block;
}
.blog-card h3 a{  
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);  
  transition:all 0.2s
}
.blog-card h3 a:hover{
  text-shadow: 0px 8px 20px rgba(0, 0, 0, 0.95);
}
h3:after {
  content: " ";
  display: block; 
  width: 10%;
  height: 2px;
  margin: 20px auto;
  border: 0;
  background: var(--main-color);
  transition:all 0.2s
}

@keyframes changeLetter {
  0% {
    width: 10%;
  }
  100% {
    width: 80%;
  }
}

.intro {
  width: 170px;
  margin: 0 auto;
  color: #ddd;
  font-style: italic;
  line-height: 18px;
}
.intro a{
  color: #ddd
}
.intro a:hover{
  text-decoration:underline
}
.card-info {
   box-sizing: border-box;
  padding: 0;
  width: 100%;
  position: absolute;
  bottom: -40px;
  left: 0;
  margin: -25px auto;
  padding: 0 50px;
  font-style: 16px;
  line-height: 24px;
  z-index: 20;
  opacity: 0;
  transition: bottom 0.64s, opacity 0.63s cubic-bezier(0.33, 0.66, 0.66, 1);
}

.card-info a{
    display: block;
    width: 7rem;
    margin: 2rem 0rem 0rem 19rem;
    background: var(--main-color);
    color: white;
    padding: 3px 10px;
    border-radius: 2px;
    font-size: 0.8em;
}
.card-info a:hover{
  background: var(--bg-color);
  color:#fff;
}
.card-info a:hover span{
   filter: brightness(10);
   opacity:1
}

 /* @media (max-width:500px){

  .card-info{
    display:none
  }
  .blog-card:hover .title-content,.title-content{
  margin-top:40px
}
.blog-card{
  height:300px
}
.blog-card h3{
  font-size:1.3em
}
.intro{
  font-size:0.8em
}
}  */






/* reels */
.reels p{
  font-size: 400%;
  color: white;
  margin: 10rem 0rem -5rem 45rem;
  padding-top: 3rem;

}
.reels{
    height:39rem;
    width:100%;
    margin: -5rem 0rem 0rem 0rem;
    background-color: #121a4e;
}    

.vid{
  display: flex;
  flex-wrap: wrap;
  /* gap: 5rem; */
  margin-left: 5rem;
  margin-right: 7rem;
}

.reel {
  position: relative;
  width: 16rem;
  height: 28rem;
  border-radius: 14px;
  z-index: 1111;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* box-shadow: 20px 20px 60px #121a4e, -20px 0px 60px #ffffff; */
  margin: 7rem 0rem 0rem 3rem;
}

.main-reel {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 23rem;
  height: 28rem;
  z-index: 2;
  background: rgba(255, 255, 255, .95);
  backdrop-filter: blur(24px);
  border-radius: 10px;
  overflow: hidden;
  outline: 2px solid white;
}

.main-reel video {
  width: 75%;
  height: 109%;
  object-fit: cover;
  border-radius: 13px;

}

.reel1 {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
 width: 10rem; /* Increased width */
  height: 20rem; /* Increased height */
  border-radius: 50%;
  background-color: #ff5f00;
  opacity: 1;
  filter: blur(12px);
  animation: blob-bounce 5s infinite ease;
}


.reel:hover video {
  filter: opacity(0.4)
}



@keyframes blob-bounce {
    0% {
        transform: translate(-100%, -100%) translate3d(0, 0, 0);  
  }  
  
  25% {
      transform: translate(-100%, -100%) translate3d(100%, 0, 0);  
    }  

  50% {
      transform: translate(-100%, -100%) translate3d(100%, 100%, 0);  
  }  
  
  75% {
    transform: translate(-100%, -100%) translate3d(0, 100%, 0);  
  }  
  
  100% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);  
}  
} 

.reel .content {
  position: absolute;
  z-index: 3;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: scale(0);
  transition: 0.5s;
}

.reel:hover .content {
  transform: scale(1);
  bottom: 25px;
}

.content .title {
    position: relative;
    color: var(--bg-color);
    font-weight: 900;
    line-height: 1em;
    font-size: 1em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
    margin: 10rem 0rem 0rem 1rem;
    font-size: 180%;
}

.content .title span {
  font-weight: 300;
  font-size: 0.70em;
}

.content .sci {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 5px;
  margin-left: -2rem;
}

.sci li {
  list-style: none;
}

.sci li .fa-brands {
  width: 2rem;
  position:absolute;
}

.sci li a {
  position: relative;
  text-decoration: none;
  /* color: rgba(255, 255, 255, 0.5); */
  /* background: rgba(0, 0, 0, 0.2); */
  fill: currentColor;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  transition: 0.5s;
  transform: scale(1);
}

.sci li a:hover {
  /* fill: currentColor; */
  color: rgba(255, 255, 255, 1);
  transform: scale(1.2);
}



  



    /* clients */

    .clients{
      margin:-6rem 0rem 0rem 0rem;
      background-color: #121a4e;
    }
    .clients p{
      font-size: 400%;
      color: white;
      margin: -4rem 0rem -9rem 45rem;
      padding-top:3rem;
    }
  .client-div {
    
      margin-left: 3%;
      margin-right: 3%;
      /* margin-bottom: 30rem; */
      padding-top:8rem;
  }
  
  ul.slides {
      display: block;
      position: relative;
      height: 600px;
      margin: 0;
      padding: 0;
      overflow: hidden;
      list-style: none;
  }
  
  .slides * {
      user-select: none;
      -ms-user-select: none;
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      -webkit-touch-callout: none;
  }
  
  ul.slides input {
      display: none; 
  }
  
  
  .slide-container { 
      display: block; 
  }
  
  .slide-image {
      display: block;
      position: absolute;
      width: 100%;
      height: 35rem;
      top: 0;
      opacity: 0;
      transition: all .7s ease-in-out;
      background-color: white;
      margin-top:4rem;
  }   
  
  .slide-image img {
    height: 12rem;
    width: 13rem;
    margin: 3rem 0rem 0rem 45rem;
  }
  .slide-image h5{
    font-size: 212%;
    margin: 4rem 25rem 0rem 26rem;
    text-align: center;

  }
  
  .carousel-controls {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 999;
      font-size: 100px;
      line-height: 600px;
      color: var(--main-color);
  }
  
  .carousel-controls label {
      display: none;
      position: absolute;
      padding: 0 20px;
      opacity: 0;
      transition: opacity .2s;
      cursor: pointer;
  }
  
  .slide-image:hover + .carousel-controls label{
      opacity: 0.5;
  }
  
  .carousel-controls label:hover {
      opacity: 1;
  }
  
  .carousel-controls .prev-slide {
      width: 49%;
      text-align: left;
      left: 0;
  }
  
  .carousel-controls .next-slide {
      width: 49%;
      text-align: right;
      right: 0;
  }
  
  .carousel-dots {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 20px;
      z-index: 999;
      text-align: center;
      margin-bottom: 3rem;
  }
  
  .carousel-dots .carousel-dot {
      display: inline-block;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: var(--main-color);
      opacity: 0.5;
      margin: 10px;
  }
  
  input:checked + .slide-container .slide-image {
      opacity: 1;
      transform: scale(1);
      transition: opacity 1s ease-in-out;
  }
  
  input:checked + .slide-container .carousel-controls label {
       display: block; 
  }
  
  input#img-1:checked ~ .carousel-dots label#img-dot-1,
  input#img-2:checked ~ .carousel-dots label#img-dot-2,
  input#img-3:checked ~ .carousel-dots label#img-dot-3,
  input#img-4:checked ~ .carousel-dots label#img-dot-4,
  input#img-5:checked ~ .carousel-dots label#img-dot-5,
  input#img-6:checked ~ .carousel-dots label#img-dot-6 {
    opacity: 1;
  }
  
  
  input:checked + .slide-container .nav label { display: block; }
 
  




    /* Small mobile devices (landscape and portrait) */
@media (max-width: 479px) {
  .vid{
    width: 20rem;
    margin: -4rem 0rem 0rem 0rem;
  }
  .web-sec {
    height: auto;
    margin: 0;
  }

  .web-sec p {
    font-size: 287%;
    margin: 3rem -138px 0 23rem;
  }

  .main-web {
    justify-content: center;
    margin: 0rem 0rem 17rem 0rem;
  }

  .blog-card {
    max-width: 100%;
    width: 115vw;
    height: 34vh;
    margin: 1rem -259px 0 150px;
  }

  .blog-card .color-overlay,
  .blog-card .gradient-overlay {
    width: 100%;
  
    height: 48vh;
  }

  .blog-card .gradient-overlay {
    top: 22vh;
  }

  .title-content {
    margin: 2rem 0 0 0;
  }

  .card-info {
    font-size: 12px;
    line-height: 18px;
  }

  .card-info a {
    margin: 1rem auto;
  }

  .reels {
    height: auto;
    /* margin: 0; */
    padding: 2rem 0;
    margin: 56rem 0rem 0rem -2rem;
    width: 194%;
  }

  .reels p {
    font-size: 438%;
    margin: 1rem 0 -4rem 22rem;
    padding-top: 0;
  }

  .vid {
    margin: 76px;
    justify-content: center;
  }

  .reel {
    width: 12rem;
    height: 21rem;
    margin: 1rem;
  }

  .main-reel {
    width: 17rem;
    height: 21rem;
  }

  .main-reel video {
    width: 100%;
    height: 100%;
  }

  .reel1 {
    width: 6rem;
    height: 12rem;
  }

  .content .title {
    font-size: 120%;
    margin: 6rem 0 0 0;
  }

  .sci {
    margin-left: -1rem;
  }

  .sci li .fa-brands {
    width: 1.5rem;
  }

  .sci li a {
    width: 24px;
    height: 24px;
  }


}

/* Medium mobile devices (landscape and portrait) */
@media (min-width: 480px) and (max-width: 639px) {
  .web-sec {
    height: auto;
    margin: 0;
  }

  .web-sec p {
    font-size: 250%;
    margin: 2rem 0 0 2rem;
  }
  .main-web {
    justify-content: center;
    margin: 0rem 0rem 17rem 0rem;
  }
  .blog-card {
    max-width: 100%;
    width: 80vw;
    height: 35vh;
    margin: 2rem 0;
  }

  .blog-card .color-overlay,
  .blog-card .gradient-overlay {
    width: 100%;
    height: 35vh;
  }

  .blog-card .gradient-overlay {
    top: 25vh;
  }

  .title-content {
    margin: 3rem 0 0 0;
  }

  .card-info a {
    margin: 1rem auto;
  }
  .reels {
    height: auto;
    margin: 0;
    padding: 2rem 0;
  }

  .reels p {
    font-size: 250%;
    margin: 2rem 0 1rem 2rem;
    padding-top: 0;
  }

  .vid {
    margin: 0 1rem;
    justify-content: center;
  }

  .reel {
    width: 14rem;
    height: 24rem;
    margin: 1rem;
  }

  .main-reel {
    width: 20rem;
    height: 24rem;
  }

  .reel1 {
    width: 7rem;
    height: 14rem;
  }

  .content .title {
    font-size: 140%;
    margin: 7rem 0 0 0;
  }

  .sci {
    margin-left: -1.5rem;
  }

}

/* Large mobile devices (landscape and portrait) */
@media (min-width: 640px) and (max-width: 767px) {
  .web-sec {
    height: auto;
    margin: 0;
  }

  .web-sec p {
    font-size: 300%;
    margin: 2rem 0 0 3rem;
  }
  .main-web {
    justify-content: center;
    margin: 0rem 0rem 7rem 0rem;

  }

  .blog-card {
    max-width: 100%;
    width: 70vw;
    height: 40vh;
    margin: 2rem 0;
  }
  .card-info{
    margin-top:-3rem;
  }

  .blog-card .color-overlay,
  .blog-card .gradient-overlay {
    width: 100%;
    height: 40vh;
  }

  .blog-card .gradient-overlay {
    top: 28vh;
  }

  .title-content {
    margin: 4rem 0 0 0;
  }

  .card-info a {
    margin: 1rem auto;
  }
  .reels {
    height: auto;
    margin: 0;
    padding: 3rem 0;
  }

  .reels p {
    font-size: 300%;
    margin: 3rem 0 1rem 3rem;
    padding-top: 0;
  }

  .vid {
    margin: 0 2rem;
    justify-content: center;
  }

  .reel {
    width: 16rem;
    height: 27rem;
    margin: 1.5rem;
  }

  .main-reel {
    width: 23rem;
    height: 27rem;
  }

  .reel1 {
    width: 8rem;
    height: 16rem;
  }

  .content .title {
    font-size: 160%;
    margin: 8rem 0 0 0;
  }

  .sci {
    margin-left: -2rem;
  }
}

/* Small tablets (landscape and portrait) */
@media (min-width: 768px) and (max-width: 991px) {
  .web-sec {
    height: auto;
    margin: -3rem 0 0 0;
  }

  .web-sec p {
    font-size: 350%;
    margin: 4rem 0 0 17rem;
  }

  .main-web {
    justify-content: center;
    margin: 0rem 0rem 7rem 0rem;

  }

  .blog-card {
    max-width: 100%;
    width: 46vw;
    height: 45vh;
    margin: 1rem 1rem;
  }
  .blog-card h3 {
    font-size:1.7rem;
  }

  .blog-card .color-overlay,
  .blog-card .gradient-overlay {
    width: 100%;
    height: 45vh;
  }

  .blog-card .gradient-overlay {
    top: 32vh;
  }

  .title-content {
    margin: 5rem 0 0 0;
  }

  .card-info {
    margin-top:-62px;
  }

  .card-info a {
    margin: 1rem auto;
  }
  .reels {
    height: auto;
    margin: 8rem 0 0 0;
    padding: 4rem 0;
    width: 60rem;
  }

  .reels p {
    font-size: 350%;
    margin: -2rem 0 19px 21rem;
    padding-top: 0;
  }

  .vid {
    margin: 0 3rem;
    justify-content: center;
  }

  .reel {
    width: 13rem;
    height: 21rem;
    margin: 1rem;
  }

  .main-reel {
    width: 17rem;
    height: 21rem;
  }

  .reel1 {
    width: 9rem;
    height: 18rem;
  }

  .content .title {
    font-size: 180%;
    margin: 9rem 0 0 0;
  }

  .sci {
    margin-left: -2.5rem;
  }
}





/* Large tablets (landscape and portrait) */
@media (min-width: 992px) and (max-width: 1199px) {
  .web-sec {
    height: auto;
    margin: -4rem 0 0 0;
  }

  .web-sec p {
    font-size: 400%;
    margin: 7rem 0 15rem 26rem;
  }

  .blog-card {
    max-width: 100%;
    width: 44vw;
    height: -4vh;
    margin: -14rem 0rem 16rem 0rem;
  }

  .blog-card .color-overlay,
  .blog-card .gradient-overlay {
    width: 100%;
    height: 175vh;

  }

  .blog-card .gradient-overlay {
    top: 35vh;
  }

  .title-content {
    margin: 7rem 0 0 0;
  }
  .reels {
    height: auto;
    margin: 8rem 0 0 0;
    padding: 5rem 0;
  }

  .reels p {
    font-size: 400%;
    margin: -3rem 0 0 31rem;
    padding-top: 0;
  }

  .vid {
    margin: 0 -1rem;
    /* justify-content: center;*/
  }

  .reel {
    width: 20rem;
    height: 33rem;
    margin: 2.5rem;
  }

  .main-reel {
    width: 27rem;
    height: 33rem;
  }

  .reel1 {
    width: 10rem;
    height: 20rem;
  }

  .content .title {
    font-size: 200%;
    margin: 10rem 0 0 0;
  }

  .sci {
    margin-left: -3rem;
  }

}

/* Small laptops and desktops */
 @media (min-width: 1200px) and (max-width: 1439px) {
  .web-sec {
    height: auto;
    margin: -5rem 0 0 0;
  }

  .web-sec p {
    font-size: 400%;
    margin: 10rem 0 0 25rem;
  }

  .blog-card {
    max-width: 550px;
    width: 30vw;
    height: 55vh;
    margin: 2rem 1rem;
  }

  .blog-card .color-overlay,
  .blog-card .gradient-overlay {
    width: 550px;
    height: 55vh;
  }

  .blog-card .gradient-overlay {
    top: 39vh;
  }

  .title-content {
    margin: 9rem 0 0 0;
  }
  .reels {
    height: auto;
    margin: -5rem 0 0 0;
    padding: 6rem 0;
  }

  .reels p {
    font-size: 400%;
    margin: 10rem 0 0 25rem;
    padding-top: 0;
  }

  .vid {
    margin: 0 5rem;
  }

  .reel {
    width: 22rem;
    height: 36rem;
    margin: 3rem;
  }

  .main-reel {
    width: 32rem;
    height: 36rem;
  }

  .reel1 {
    width: 11rem;
    height: 22rem;
  }

  .content .title {
    font-size: 220%;
    margin: 11rem 0 0 0;
  }

  .sci {
    margin-left: -3.5rem;
  }
} 

/* Large laptops and desktops */
@media (min-width: 1440px) and (max-width: 1919px) {
  .web-sec {
    height: 41rem;
    margin: -8rem 0 0 -39px;
  }

  .web-sec p {
    font-size: 400%;
    margin: 10rem 0 -10rem 45rem;
  }
  .main-web{
    display: flex;
    flex-wrap: wrap;
    gap: -2rem;
    /* justify-content: space-evenly; */
    margin-left: -2rem;
    /* width: 3rem; */
  }
  .blog-card {
    width: 31rem;
    height: 17rem;
    margin: 13rem -6rem 0px 0rem;
  }

  .blog-card .color-overlay {
    width: 550px;
    height: 500px;
  }

  .blog-card .gradient-overlay {
    width: 550px;
    height: 500px;
    top: 350px;
  }
  .card-info{
    margin: -66px auto;
  }
  .card-info a{
    margin-left: 8rem;
  }

  .title-content {
    margin: 4rem 0 0 0;
  }
  .reels {
    height: 41rem;
    margin: 12rem 0 0 0;
  }

  .reels p {
    font-size: 400%;
    margin: -3rem 0 0 31rem;
    padding-top: 0px;
  }

  .vid {
    margin-left: 4rem;
    margin-right: -3rem;
    gap: 0rem;
  }

  .reel {
    width: 16rem;
    height: 28rem;
    margin: 7rem 0 0 3rem;
  }

  .main-reel {
    width: 23rem;
    height: 28rem;
  }

  .main-reel video {
    width: 75%;
    height: 109%;
  }

  .reel1 {
    width: 10rem;
    height: 20rem;
  }

  .content .title {
    font-size: 180%;
    margin: 10rem 0 0 1rem;
  }
}